<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="css/style.min.css">
    <script src="/js/lib/angular.min.js" charset="utf-8"></script>
    <!--<script src="/js/lib/angular-route.min.js"></script>-->
    <!--<script src="/js/lib/moment.js"></script>-->

    <script src="/speaker_lib/lib/Core/Core.js"></script>
    <script src="/speaker_lib/Timer.js"></script>
    <script src="/speaker_lib/Speaker/Speaker.js"></script>
    <script src="/speaker_lib/SpeakerFriend/SpeakerFriend.js"></script>
    <script>SpeakerFriend.prerender = {};</script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers/main-controller.js"></script>
    <!--<script src="/js/directives/ng-enter.js"></script>-->
    <!--<script src="/js/directives/ng-confirm.js"></script>-->
</head>

<body ng-app="myApp">

<script>Core.processNamespace(classes);
Core.processNamespace(libs);
Core.processGlobal();</script>

<div ng-controller="mainController" class="wrapper">
    <div>Повторять каждые <input type="text" ng-model="timeout"> мин.</div>
    <voice text="А как эта мысль будет по английски?"></voice>
    <button class="start" ng-click="start(timeout)">Старт</button>
    <button class="stop" ng-click="stop()">Стоп</button>
</div>
<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>